body {
  font-family: Arial;
  background: #f9fafb;
  margin: 0;
}

nav {
  background: #2563eb;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 40px;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

form {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input, select, textarea, button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}
